@import "./reset";
@import "./webgl";

html,
body {
    width: 100%;
    height: 100%;
}

#app {
    width: 100%;
    height: 100%;

    .container {
        width: 100%;
        height: 100%;
    }
}